{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}
{% block 'titulo' %}Recuperar Senha{% endblock %}
{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/fisio_logo.png' %}">
                        <img class="img_logo_sidebar segunda_logo" src="{% static 'autenticacao/img/logofisio.png' %}">
                    </h2>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="area_cadastrar">
                    <br>
                    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Ops! Verifique os erros abaixo:</strong>
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="alert" style="background: transparent; color: inherit; padding: 0;">
                        <h2><span class="bold">Recuperar Senha</span></h2>
                        
                        <form method="post"> {% csrf_token %}
                            
                            <div class="form-group mb-3">
                                <label class="bold">{{ form.new_password1.label }}</label>
                                <input type="password" name="new_password1" class="form-control input-form" placeholder="Digite a nova senha" required>
                                <small class="text-muted">{{ form.new_password1.help_text|safe }}</small>
                                {{ form.new_password1.errors }}
                            </div>
                            
                            <div class="form-group mb-4">
                                <label class="bold">{{ form.new_password2.label }}</label>
                                <input type="password" name="new_password2" class="form-control input-form" placeholder="Confirme a nova senha" required>
                                <small class="text-muted">Repita a senha informada igual ao campo acima</small>
                                {{ form.new_password2.errors }}
                            </div>
                            
                            <button type="submit" class="btn-first">Redefinir Senha</button>
                            
                        </form>
                        </div>
                    
                    <br><br>
                    <hr>
                    
                    <div style="margin-top: 20px;">
                        <span style="font-size: 16px; font-weight: bold; margin-right: 15px;">Voltar para Logar?</span>
                        <a href="{% url 'logar' %}" class="btn btn-outline-success">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}