{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}


{% block 'titulo' %}Fisio Innosoft Cadastre-se {% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/fisio_logo.png' %}">
                        <img class="img_logo_sidebar segunda_logo" src="{% static 'autenticacao/img/logofisio.png' %}">
                    </h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Seja bem vindo</h2>
                    <p class="sub-titulo">Crie sua conta</p>
                    <hr>
                    <form action="{% url 'cadastro'%}" method="POST"> {% csrf_token %}
                        <span class="bold">Nome de usuário</span>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                        <br>
                        <span class="bold">E-mail</span>
                        {% if email_fixo %}
                            <input class="form-control input-form" name="email" type="email" value="{{ email_fixo }}" readonly>
                            <small class="text-muted">Este e-mail foi usado no teu teste grátis e não pode ser alterado.</small>
                        {% else %}
                            <input class="form-control input-form" name="email" type="text" placeholder="Digite seu E-mail...">
                        {% endif %}
                        <br>
                        <div class="row">
                            <div class="col-md">
                            <span class="bold">Senha</span>
                            <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
                            <small class="text-muted">{{ form.new_password1.help_text|safe }}</small>
                        </div>
                        <div class="col-md">
                            <span class="bold">Confirmar senha</span>
                            <input class="form-control input-form" name="confirmar_senha" type="password" placeholder="Confirme sua senha">
                            <small class="text-muted">Repita a senha informada igual ao campo acima</small>
                        </div>
                    </div>
                    <br>
                    <button class="btn-first">Registrar</button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                        <h3 style="position: absolute; bottom: 65px; font-weight: bold">Já possui uma conta ?&nbsp <a href="{% url 'logar' %}" class="btn btn-outline-success btn-lg">Logar</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}