{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
    <link rel="icon" href="{% static 'autenticacao/img/favicon.ico' %}">
{% endblock %}
{% block 'titulo' %}Fisio Innosoft Acesse sua Conta{% endblock %}
{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/fisio_logo.png' %}">
                    </h2>
                </div>
            </div>
            <div class="col-md-9 area_form">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Seja Bem Vindo</h2>
                    <p class="sub-titulo">Entre com sua conta</p>
                    <hr>
                    <form action="{% url 'logar' %}" method="POST">{% csrf_token %}
                        <span class="bold">Nome de usuário</span>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                        <br>
                        <span class="bold">Senha</span>
                        <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
                        <br>
                        <button class="btn-first">Entrar</button>
                        <p><h3 style="position: absolute; bottom: 430px; font-weight: bold"></h3><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>

                    </form>
                    <div class="login-extra"></div>
                        <h5 style="position: absolute; bottom: 130px; ">Não tem uma conta? <a href= "{% url 'cadastro' %}">Registre-se </a>
                        &nbsp;|&nbsp;
                            Reenviar email de ativação? 
                            <a href="#" data-toggle="modal" data-target="#modalReenviarAtivacao">
                                Reenviar ativação
                            </a></h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

  

{% endblock %}